# map image
/Base
/link

# build file
MyOpenLayer.js
openlayer.js
openlayer.js.LICENSE.txt
openlayer.bundle.js
openlayer.bundle.js.LICENSE.txt
openlayer.bundle.js.map

# dependencies
/node_modules

.env
